.DS_Store
__pycache__/
data/
maplogs/
plots/
outputs/
scratch/
reports/
.ipynb_checkpoints
*checkpoint.ipynb
*.img
*.mpeg
*.py~
*.pyc
*.dot
*.zip
sandbox/
packrat/lib*/
.Rprofile
*.key
*.code-workspace

